*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{
  --primary-color:#f67c92;
  --secondary-color:#777;
  --white:#fff;
  --black:#000000;
}
#header{
  height:100vh;
  background-image:url(images/background.png);
  background-position:center;
  background-size: cover;
}
.container{
  margin-right: 100px;
  margin-left: 100px;
}
.logo{
  margin-right: 30px;
  width: 100px;
}
.header-text{
  max-width: 350px;
  margin-top: 140px;
}
h1{
  font-size: 34px;
}
.square
{
  height: 12px;
  width: 12px;
  display: inline-block;
  background: var(--primary-color);
  margin: 15px 0;
}
.common-btn{
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  }
.p{
  font-size: 15px;
  line-height: 18px;
  color: var(--secondary-color);
}
.header-text button{
  margin-top: 20px;
  margin-bottom: 60px;
}
.line-1{
  width: 15px;
  height: 15px;
  background: var(--primary-color);
  display: inline-block;
}
.line-2{
  width: 80px;
  height: 1px;
  background: var(--primary-color);
  display: inline-block;
}
.line-3{
  width: 60px;
  height: 1px;
  background: var(--primary-color);
  display: inline-block;
}
.line{
  line-height: 8px;
}
#sideNav{
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background:var(--primary-color);
  z-index: 2;
  transition: 2s;
}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}
nav ul li a{
  text-decoration: none;
  color:var(--white);
}
#menuBtn{
  width: 50px;
  position: fixed;
  right: 65px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
}

/* About Section */

#about,#offer{
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-left-col{
  flex-basis: 50%;
}
.about-left-col img{
  width: 100%;
}
.about-right-col{
  flex-basis: 50%;
  text-align: right;;
}
.about-text{
  max-width: 500px;
  margin-right: 100px;
  display: inline-block;
}
.about-text h2{
  margin: 50px 0 10px;
  font-size: 28px;
  font-style: italic;
}
.about-text h3{
  font-size: 20px;
  font-style:italic;
  color: var(--secondary-color);
}

/* Features */
#features{
  padding-top: 50px;
  padding-bottom: 50px;
}
.feature-row{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.feature-col{
  flex-basis: 25%;
  text-align: center;
}
.feature-col img{
  width: 100px;
}
.feature-col h4{
  margin-bottom: 15px;
  font-size: 28px;
  font-weight: 400px;

}
.features-btn{
  margin: 80px auto 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.features-btn .line{
  text-align: right;
  display: inline-block;
  margin-right: 25px;
}

/* Courses Section*/

#courses{
  padding: 100px 0;
}
.course-row{
  display: flex;;
  align-items: center;
  flex-wrap: wrap;
}
.course-right-col{
  flex-basis: 50%;
}
.course-right-col img{
  width: 100%;
}
.course-left-col{
  flex-basis: 50%;
}
.course-text{
  max-width: 350px;
}
.course-text button{
  margin: 30px 0;
}
/* Offer Section */
#offer button
{
  margin: 30px 0;
}

/* Contact Section */
.contact-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contact-left-col, .contact-right-col{
  flex-basis: 50%;
}
.contact-right-col img{
  width: 100%;
}
form{
  max-width: 350px;
  margin: 30px 0;
}
form input{
  width: 100%;
  padding: 12px; 10px;
  margin-bottom: 5px;
  outline: none;
  box-shadow: none;
  box-sizing: border-box;
  border: 2px solid var(--primary-color);
}
.btn-box{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-box button{
  flex-basis: 48%;
  padding: 18px 0;
}

/* Footer Section */

#footer{
  padding: 50px 0 30px;
}
hr{
  width: 100%;
  border: 0;
  border-top: 1px solid var(--primary-color);
}
.footer-row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-left-col{
  flex-basis: 50%;
  margin-top: 60px;
}
.footer-right-col{
  flex-basis: 35%;
}
.footer-links{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.link-title h4{
  color: var(--primary-color);
  margin-bottom: 20px;
}
.link-title small{
  font-size: 13px;
  color: var(--secondary-color);
}
.footer-info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-logo img{
  width: 100px;
}
.footer-logo  button{
  padding: 12px 38px;
  margin-top: 20px;
  font-size: 10px;
}
.copyright-text,.footer-logo{
  flex-basis: 40%;
}

/* Social Icon */
.social-Icons{
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.social-Icons img{
  display: block;
  width: 20px;
  margin: 0 auto 20px;
  cursor: pointer;
}
.copyright{
  font-size: 10px;
  font-weight: bold;
  font-style: italic;
  color:  var(--primary-color)
}



@media only screen and (max-width: 770px) {
    #header{
      background-image: none;
    }
    .container{
      margin-right: 50px;
      margin-left: 50px;
    }
    .logo{
      margin-right: 27px;
      width: 70px;
    }
    .header-text{
      margin-top: 100px;
    }
    h1{
      font-size: 24px;
    }

    #menuBtn{
      width: 40px;
      right: 50px;
    }
    .common-btn{
      padding: 10px 16px;
    }
    .social-Icons img{
        width: 14px;
        margin: 15px auto;
    }
    .about-left-col,.about-right-col{
      flex-basis: 100%;
    }
    .about-text{
      margin: 50px 50px 0;
      display: inline-block;
    }
    .about-text h2{
      font-size: 18px;
    }
    .feature-col{
      flex-basis: 100%;
      margin-bottom: 20px;
    }
    .course-left-col,.course-right-col{
      flex-basis: 100%;
    }
    .course-right-col{
      margin-top: 70px;
    }
    .contact-left-col,.contact-right-col{
      flex-basis: 100%;
    }
    .contact-right-col{
      margin-top: 50px;
    }
    .footer-left-col,.footer-right-col{
      flex-basis: 100%;
    }
    .link-title{
      flex-basis: 50%;
      margin-bottom: 30px;
    }

  #sideNav {
  width: 150px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: var(--primary-color);
  z-index: 2;
  transition: 2s;
  }

  #menuBtn {
  width: 40px;
  position: fixed;
  top: 40px;
  right:20px;
  z-index: 2;
  cursor: pointer;
  }

}
