*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{
  --primary-color:#f67c92;
  --secondary-color:#777;
  --white:#fff;
  --black:
}
.dark-theme{
  --primary-color:#f67c92;
  --secondary-color:#777;
  --white:#fff;
  --black:
}
#header{
  height:100vh;
  background-image:url(images/background.png);
  background-position:center;
  background-size: cover;
}
.container{
  margin-right: 100px;
  margin-left: 100px;
}
.logo{
  margin-right: 30px;
  width: 100px;
}
.header-text{
  max-width: 350px;
  margin-top: 140px;
}
h1{
  font-size: 34px;
}
.square
{
  height: 12px;
  width: 12px;
  display: inline-block;
  background: var(--primary-color);
  margin: 15px 0;
}
.common-btn{
  padding: 18px 40px;
  background: transparent;
  outline: none;
  border: 2px solid var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  }
.p{
  font-size: 15px;
  line-height: 18px;
  color: var(--secondary-color);
}
.header-text button{
  margin-top: 20px;
  margin-bottom: 60px;
}
.line-1{
  width: 15px;
  height: 15px;
  background: var(--primary-color);
  display: inline-block;
}
.line-2{
  width: 80px;
  height: 1px;
  background: var(--primary-color);
  display: inline-block;
}
.line-3{
  width: 60px;
  height: 1px;
  background: var(--primary-color);
  display: inline-block;
}
.line{
  line-height: 8px;
}
#sideNav{
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background:var(--primary-color);
  z-index: 2;
  transition: 2s;
}
nav ul li {
  list-style: none;
  margin: 50px 20px;
}
nav ul li a{
  text-decoration: none;
  color:var(--white);
}
#menuBtn{
  width: 50px;
  position: fixed;;
  right: 65px;
  top: 35px;
  z-index: 2;
  cursor: pointer;
}

/* About Section */

#about{
  padding: 100px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-left-cal{
  flex-basis: 50%;
}
.about-left-cal{
  width: 100%;
}
.about-right-cal{
  flex-basis: 50%;
}
